@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Source+Sans+Pro:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
} 

img {
    display: block;
    max-width: 100%;
}

button {
    border: none;
    background: none;
}

:root {
    font-family: 'Source Sans Pro', sans-serif;
    --text-dark-accent-color: #707070;
    --background-light-color: #fbf4f0;
    --link-dark-accent-color: rgb(164, 157, 152);
    --shade-text-color: rgb(174,174,174);
    --text-header-dark-color: #333;
    --text-header-light-color: #f69946;
    --plain-text-color: ;
    --top-brands-background-color: ;
    --top-brands-span-text-color: ;
    --tabs-dark-color: #2c2c2c;
    --text-footer-bold-color: ;
    --border-color: ;
    --colorful-block-text-color: ;
    --weekly-sales-block-text-color: #a9a9a9;
    --text-brand-color: #a9c623;
    --button-light-color: #fff;
    --button-background-color: #dd7c26;
}