@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Source+Sans+Pro:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
} 

img {
    display: block;
    max-width: 100%;
}

:root {
    font-family: 'Source Sans Pro', sans-serif;
    --text-dark-accent-color: #f69946;
    --background-light-color: #fbf4f0;
    --link-dark-accent-color: rgb(164, 157, 152);
    --background-shade-color: ;
    --text-header-color: #333;
    --plain-text-color: ;
    --top-brands-background-color: ;
    --top-brands-span-text-color: ;
    --top-brands-h2-text-color: ;
    --text-footer-bold-color: ;
    --border-color: ;
    --colorful-block-text-color: ;
    --black-white-block-text-color: ;
}