.contacts-wrapper__header {
    background-color: var(--background-light-color);
}
.contacts-container__header {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding: 10px 15px;
    margin: 0 auto;
    
}
.contacts__header {
    display: flex;
    font-size: 14px;
    margin-right: -10px;
    margin-left: -10px;
    font-weight: 600;
    letter-spacing: 0.7px;
    line-height: 22.4px;
}
.contact-container__header{
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
}
.social-icons-container__header {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -15px;
    margin-left: -7.5px;
    margin-right: -7.5px;
}
.social-icon {
    width: 27px;
    height: 27px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 7.5px;
    margin-right: 7.5px;
    color: var(--link-dark-accent-color);
}
.svgIcon_1J7 .logo_2gS {
    fill: currentColor;
}
.text-contact{
    color: var(--text-dark-accent-color);
    font-weight: 700;
}
.contact {
    color: var(--link-dark-accent-color);
}
/*---------------*/

.menu__header {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px 15px;
}
.logo-freshy {
    width: 189px;
    height: auto;
}
.menu-links__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: -5px -7.5px;
}
.item-menu__header {
    margin: 5px 7.5px;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
}
.item-menu__header a {
    color: var(--text-header-color);
    text-transform: capitalize;
}