.contacts-wrapper__header {
    margin-bottom: 30px;
}
.contacts-container__header {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding: 10px 15px;
    margin: 0 auto;
    flex-direction: column;
}
.contacts__header {
    display: flex;
    font-size: 14px;
    margin-right: -10px;
    margin-left: -10px;
    font-weight: 600;
    letter-spacing: 0.7px;
    line-height: 22.4px;
}
.contact-container__header{
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
}
.social-icons-container__header {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -15px;
    margin-left: -7.5px;
    margin-right: -7.5px;
}
.social-icon {
    width: 27px;
    height: 27px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 7.5px;
    margin-right: 7.5px;
    color: var(--link-dark-accent-color);
}
.svgIcon_1J7 .logo_2gS {
    fill: currentColor;
}
.text-contact{
    color: var(--text-header-light-color);
    font-weight: 700;
}
.contact {
    color: var(--link-dark-accent-color);
}


.menu__header {
    max-width: 1200px;
    display: flex;
}
.logo-freshy {
    width: 189px;
    height: auto;
}
.menu-links__header {
    display: flex;
    
    align-items: center;
    margin: -10px -5px;
    flex-direction: column;
}
.item-menu__header {
    margin: 10px 5px;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
}
.item-menu__header a {
    color: var(--text-header-dark-color);
    text-transform: capitalize;
}
.navbar-menu__header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.burger-line {
    height: 2px;
    width: 24px;
    background-color: currentColor;
}
.burger-menu {
    padding: 12px 8px;
    font-size: 24px;
    border: none;
    background-color: transparent;
}
.burger-icon {
    width: 24px;
    height: 16px;
}