.groceries-shop {
    background-image: url(../img/photo-main/online-shop_background.png);
    padding: 130px 0;
    font-family: Istok Web, sans-serif;
    background-size: cover;
    background-position: 35% 35.82%;
    position: static;
}
.groceries-online-shop {
    padding: 0 24px;
    max-width: 1200px;
    margin: 0 auto;
}
.groceries-online-shop__header {
    padding: 0 15px;
    display: grid;
    grid-template-columns: auto;
}
.groceries-online-shop__p {
    color: var(--text-header-light-color);
    font-size: 14px;
    line-height: 1.3;
}
.online-shop-content {
    margin: 0 -15px;
    letter-spacing: 0;
    font-weight: 700;
}
.groceries-online-shop__h2 {
    margin-top: 20px;
    font-size: 56px;
    line-height: 1.1;
    letter-spacing: 0;
    overflow-wrap: break-word;
}
.groceries-for-shop__h2 {
    color: var(--text-brand-color);
}
.online-here__h2 {
    color: var(--text-header-dark-color);
}
.groceries-online-shop__footer {
    margin-top: 50px;
}
.groceries-shop__button {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}
.shop-now__button {
    border-width: 2px;
    border-radius: 5px;
    padding: 21px 36px;
    margin: 10px;
    background-color: var(--text-brand-color);
    font-size: 13.2px;
    line-height: 1em;
    letter-spacing: 0;
    font-weight: 700;
    color: var(--button-light-color);
    box-shadow: 0 3px 10px 0 rgb(39 37 40 / 28%);
    width: 167.734px;
}
.shop-now__button-icon{
    position: absolute;
    height: 24px;
    width: 24px;
}
.shop-now__icon {
    position: relative;
    bottom: 5px;
    left: 5px;
}
.try-app__button {
    margin: 10px;
    padding: 19px 36px;
    width: 177.531px;
    font-size: 13.2px;
    line-height: 13.2px;
    font-family: Istok Web, sans-serif;
    color: var(--text-header-light-color);
    font-weight: 700;
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
    border-color: var(--text-brand-color);
}
.try-app__button-icon {
    position: absolute;
    height: 19px;
}
.try-app__icon {
    position: relative;
    height: 24px;
    width: 24px;
    left: 5px;
    bottom: 5px;
}
.online-shop-background_bottom {
    background-image: url(../img/photo-main/wave-1.png);
    padding: 40px 0;
    position: static;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
/* product icons */
.product-icons__section{
    padding-top: 90px;
    padding-bottom: 50px;
    max-width: 1200px;
    margin: 0 auto;
}
.product-icons__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px;
}
.product-icons__icon {
    width: 70px;
    height: 70px;
    
}
.product-icons__text {
    margin-top: 20px;
    font-size: 22px;
    line-height: 1.4;
    font-family: Istok Web, sans-serif;
    font-weight: 700;
    color: var(--text-header-dark-color);
    text-align: center;
    letter-spacing: 0;
    text-decoration: none;
    text-transform: none;
    font-style: normal;
}
.product-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon-top {
    margin-top: 50px;
}
/* fresh produce */
.fresh-produce__section {
    padding: 60px 24px;
}
.fresh-produce-picture {
    margin: 0 -15px;
    padding: 0 15px;
}
.fresh-produce-img {
    width: 272px;
    height: 287.734px;
    object-position: 100% 91.942%;
    object-fit: cover;
}
.fresh-produce__content {
    margin-top: 50px;
}
.fresh-produce_p {
    font-size: 14px;
    color: var(--text-header-light-color);
    line-height: 18.2px;
    font-weight: 700;
    font-family: Istok Web, sans-serif;
}
.fresh-produce_header {
    margin-top: 20px;
    font-size: 34px;
    line-height: 1.2;
    letter-spacing: 0;
    color: var(--text-header-dark-color);
    font-family: Istok Web, sans-serif;
    font-weight: 700;
}
.fresh-produce_text-subtitle {
    margin-top: 25px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0;
    font-weight: 400;
    color: var(--text-header-dark-color);
}
.fresh-produce-list {
    display: flex;
    margin-top: 25px;
    flex-wrap: wrap;
    margin-bottom: -16px;
    margin-left: -12px;
    margin-right: -12px;
}
.check-mark_icon {
    color: var(--text-brand-color);
    width: 24px;
    height: 24px;
    max-width: 20px;
}
.check-mark_text {
    margin-left: 10px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.8px;
    font-weight: 400;
    color: var(--text-dark-accent-color);
}
.fresh-produce-icon {
    display: flex;
    padding: 0 12px;
    margin-bottom: 16px;
    width: auto;
}
.fresh-produce_text-body {
    font-size: 16px;
    letter-spacing: 0.8px;
    line-height: 24px;
    margin-top: 20px;
    font-weight: 400;
    color: var(--text-dark-accent-color);
}
.fresh-produce_apple-icon {
    position: absolute;
    left: 71.734px;
    top: -6.594px;
}
.fresh-produce_button-icon {
    width: 24px;
    height: 24px;
    display: inline-block;
}
.fresh-produce_btn-group {
    margin-top: 35px;
    display: flex;
}
.fresh-produce_button {
    width: auto;
    margin: -10px;
}
.fresh-produce_button-shop {
    display: inline-block;
    margin: 10px;
    padding: 19px 34px;
    background-color: var(--text-header-light-color);
    box-shadow: 0 3px 10px 0 rgb(39 37 40 / 28%);
    vertical-align: middle;
    position: relative;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: transparent;
}
.fresh-produce_button-shop:hover {
    cursor: pointer;
    background: var(--button-background-color);
    transition: color .2s ease-in,background-color .2s ease-in,border-color .2s ease-in,box-shadow .2s ease-in;
}
.fresh-produce_button-content {
    align-items: center;
    display: flex;
    color: var(--button-light-color);
    font-size: 13.2px;
    line-height: 1em;
    letter-spacing: 0;
    font-weight: 700;
    font-family: Istok Web, sans-serif;
    position: relative;
}
.fresh-produce_shop-now {
    max-width: 100%;
    padding-left: 0;
    padding-right: 32px;
    display: inline-block;
    text-transform: capitalize;
}

/*deliver */
.delivery__section {
    padding: 50px 24px;
}
.delivery__header {
    margin-top: 50px;
}
.delivery__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}
.delivery__text {
    font-size: 14px;
    line-height: 1.3em;
    letter-spacing: 0;
    font-family: Istok Web, sans-serif;
    font-weight: 700;
    color: var(--text-brand-color);
}
.delivery__title {
    margin-top: 20px;
    font-size: 34px;
    line-height: 40.8px;
    letter-spacing: normal;
    color: var(--text-header-dark-color);
    font-family: Istok Web, sans-serif;
    font-weight: 700;
    word-wrap: break-word;
}
.delivery__subtitle {
    margin-top: 25px;
    font-size: 18px;
    line-height: 28.08px;
    letter-spacing: normal;
    font-weight: 400;
    color: var(--text-header-dark-color);
}
.deliver-steps__section {
    margin-top: 45px;
}
.deliver-steps__grid {
    display: flex;
    justify-content: center;
}
.delivery__content {
    margin-top: 45px;
   
}
.delivery__content-grid-icon {
    width: 70px;
    height: 70px;
}
.delivery__content-grid-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.delivery__content-grid-header {
    margin-top: 20px;
    font-size: 22px;
    line-height: 1.4;
    font-family: Istok Web, sans-serif;
    font-weight: 700;
    color: var(--text-header-dark-color);
    word-wrap: break-word;
}

.delivery__content-grid-inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.delivery__grid-number {
    color: var(--text-header-light-color);
}
.delivery__content-grid-text {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.8px;
    font-weight: 400;
    color: var(--text-dark-accent-color);
}
.delivery__grid-icon {
    height: 70px;
    width: 70px;
}
.content-grid-item_indent {
    margin-top: 50px;
}

/*offer block*/

.offer__section {
    padding: 60px 24px;
    min-width: 320px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    word-wrap: break-word;
    max-width: 1200px;
    width: 100%;
}
.offer-item {
    padding: 27px 31px;
    display: flex;
    font-family: Istok Web, sans-serif;
    flex-direction: column;
    justify-content: flex-start;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(169, 198, 35);
}
.weekly-sales {
    background-image: url(../img/weekly-sales.png);
}
.fresh-fruit {
    background-image: url(../img/fresh-fruit.png);
    margin-top: 50px;
}
.offer-text {
    margin-top: 96.6px;
    color: var(--button-light-color);
    font-size: 14px;
    line-height: 1.3;
    font-weight: 700;
}
.offer-header {
    margin-top: 20px;
    color: var(--button-light-color);
    font-size: 34px;
    line-height: 1.2;
    font-weight: 700;
}
.offer__button {
    margin-top: 35px;
}
.offer__button-link {
    color: var(--button-light-color);
    font-size: 13.2px;
    line-height: 1em;
    display: flex;
    align-items: center;
}
.offer__shop-now {
    padding-left: 0;
    padding-right: 32px;
    font-weight: 700;
    position: relative;
}
.offer__shop-now-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 53%;
}
/*fresh deals*/
.fresh-deals__section {
    padding-top: 50px;
    padding-bottom: 90px;
    padding-left: 24px;
    padding-right: 24px;
}
.fresh-deals__header {
    margin-top: 50px;
}
.fresh-deals__header-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.fresh-deals__header-text {
    color: var(--text-header-light-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .05em;
    font-weight: 700;
    word-wrap: break-word;
}
.fresh-deals__header-title {
    margin-top: 20px;
    font-size: 34px;
    line-height: 1.2;
    color: var(--text-header-dark-color);
    font-family: Istok Web, sans-serif;
    font-weight: 700;
    word-wrap: break-word;
}
.fresh-deals__header-subtitle {
    margin-top: 25px;
    font-size: 18px;
    line-height: 1.56;
    font-weight: 400;
    color: var(--text-header-dark-color);
}
.fresh-deals__content {
    margin-top: 45px;
}
.fresh-deals__tabs-container {
    display: flex;
}
.fresh-deals__tabs-nav {
    position: relative;
    margin-bottom: 30px;
    margin-left: -15px;
    overflow-x: scroll;
}
.fresh-deals__tabs-inner {
    display: inline-flex;
    padding: 0 15px;
    position: relative;
}
.fresh-deals__tabs-inner::after {
    content: "";
    position: absolute;
    height: 1px;
    color: inherit;
    background-color: currentColor;
    opacity: .125;
    width: 100%;
    bottom: 0;
}
.fresh-deals__nav-item {
    padding: 15px 20px;
    font-size: 14px;
    line-height: 1.3;
    font-family: Istok Web, sans-serif;
    font-weight: 700;
    color: var(--tabs-dark-color);
}
.fresh-deals__nav-item:focus::after {
    display: none;
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    color: var(--text-header-light-color);
    background-color: var(--text-header-light-color);
}
.fresh-deals__tabs-item-background {
    padding: 27px 10px;
}
.fresh-deals__tabs-item {
    padding: 31px 27px;
    background-color: var(--background-light-color);
    display: flex;
    flex-direction: column;
    text-align: center;
}
.fresh-deals__item-price {
    margin-top: 16px;
    color: var(--text-brand-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: .05em;
}
.fresh-deals__subheading {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: .05em;
    margin-top: 8px;
    color: var(--text-header-dark-color);
    font-weight: 600;
}
.fresh-deals__subheading a {
    color: inherit;
}
.fresh-deals__item-button {
    margin-top: 24px;
}
.fresh-deals__item-button-link {
    display: inline-block;
    position: relative;
    font-size: 10.8px;
    line-height: 1em;
    padding: 14px 22px;
    border-radius: 5px;
    border-color: var(--text-brand-color);
    border-width: 2px;
    border-style: solid;
    font-weight: 700;
    color: var(--text-header-light-color);
    font-family: Istok Web, sans-serif;
}
/*indicators section*/

.indicators__section {
    background-image: url(../img/photo-main/indicators-background.jpg);
    background-position: 42.63% 48.86%;
    background-size: cover;
    background-repeat: no-repeat;
}
.indicators__wrapper {
    padding-top: 50px;
    padding-bottom: 60px;
    min-width: 320px;
}
.indicators__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 24px;
}
.indicarots__content {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.indicators__text-amount {
    font-size: 34px;
    line-height: 1.2;
    font-family: 'Istok Web', sans-serif;
    font-weight: 700;
    word-wrap: break-word;
    color: var(--button-light-color);
}
.indicators__text-amount-title {
    margin-top: 25px;
    font-size: 14px;
    line-height: 1.3;
    font-family: 'Istok Web', sans-serif;
    font-weight: 700;
    color: var(--button-light-color);
}
.indicarots__content-margin {
    margin-top: 50px;
}

/*week deals*/

.week-deals__section {
    padding-top: 90px;
    padding-bottom: 60px;
    padding-left: 24px;
    padding-right: 24px;
    max-width: 1200px;
    min-width: 320px;
}

.week-deals__header {
    margin-top: 50px;
}
.week-deals__header-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.week-deals__header-text {
    color: var(--text-header-light-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .05em;
    font-weight: 700;
    word-wrap: break-word;
}
.week-deals__header-title {
    margin-top: 20px;
    font-size: 34px;
    line-height: 1.2;
    color: var(--text-header-dark-color);
    font-family: Istok Web, sans-serif;
    font-weight: 700;
    word-wrap: break-word;
}
.week-deals__header-subtitle {
    margin-top: 25px;
    font-size: 18px;
    line-height: 1.56;
    font-weight: 400;
    color: var(--text-header-dark-color);
}
.week-deals__content {
    margin-top: 45px;
}
.week-deals__products-wrapper{
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}
.week-deals__products-background {
    padding: 27px 10px;
}
.week-deals__product {
    padding: 31px 27px;
    background-color: var(--background-light-color);
    display: flex;
    flex-direction: column;
    text-align: center;
}
.week-deals__product-price {
    margin-top: 16px;
    color: var(--text-brand-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: .05em;
}
.week-deals__product-subheading {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: .05em;
    margin-top: 8px;
    color: var(--text-header-dark-color);
    font-weight: 600;
    word-wrap: break-word;
}
.week-deals__product-subheading a {
    color: inherit;
}
.week-deals__product-button {
    margin-top: 24px;
}
.week-deals__product-button-link {
    display: inline-block;
    position: relative;
    font-size: 10.8px;
    line-height: 1em;
    padding: 14px 22px;
    border-radius: 5px;
    border-color: var(--text-brand-color);
    border-width: 2px;
    border-style: solid;
    font-weight: 700;
    color: var(--text-header-light-color);
    font-family: Istok Web, sans-serif;
}
/* time offer section */
.time-offer__section {
    padding-top: 60px;
    padding-bottom: 90px;
    padding-left: 24px;
    padding-right: 24px;
}
.time-offer__content {
    background-image: url(../img/photo-main/time-offer-background.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 39px 27px;
}
.time-offer__text {
    color: var(--text-header-light-color);
    font-size: 14px;
    line-height: 1.3;
    font-family: 'Istok Web', sans-serif;
    font-weight: 700;
    word-wrap: break-word;
}
.time-offer__title {
    margin-top: 20px;
    color: var(--background-light-color);
    font-size: 34px;
    line-height: 1.2;
    font-family: 'Istok Web', sans-serif;
    font-weight: 700;
    word-wrap: break-word;
}
.time-offer__text-body {
    margin-top: 25px;
    color: var(--button-light-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .05em;
    word-wrap: break-word;
}
.time-offer__subtitle {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.56;
    color: var(--button-light-color);
    font-weight: bold;
}
.time-offer__countdown {
    margin-top: 65.9px;
}
.time-offer__promocode {
    color: var(--text-header-light-color);
}
.time-offer__discount{
    font-weight: bold;
    display: block;
}
/* app section */
.app__wrapp {
    background-image: url(../img/photo-main/wave-2.png);
    padding: 40px 0;
    position: static;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.app__section {
    padding: 90px 0;
    background: var(--background-light-color);
}
.our-app {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
}
.our-app__text {
    font-size: 14px;
    line-height: 1.3;
    font-family: 'Istok Web', sans-serif;
    font-weight: 700;
    color: var(--text-brand-color);
}
.our-app__header {
    margin-top: 20px;
    font-size: 34px;
    line-height: 1.2;
    color: var(--text-header-dark-color);
    font-family: 'Istok Web', sans-serif;
    font-weight: 700;
}
.our-app__title {
    margin-top: 25px;
    font-size: 18px;
    line-height: 1.56;
    color: var(--text-header-dark-color);
}
.our-app__list {
    margin-top: 25px;
}
.our-app__content {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}
.our-app__content-inner {
    min-width: 40%;
    text-align: left;
    margin: 7.5px;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.our-app__content-icon {
    width: 50px;
    margin: 7.5px;
    text-align: center;
}
.our-app__content-heading {
    font-size: 22px;
    line-height: 1.4;
    font-family: 'Istok Web', sans-serif;
    font-weight: 700;
    color: var(--text-header-dark-color);
    word-wrap: break-word;
    margin-right: 5px;
}
.our-app__content-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .05em;
    color: var(--text-dark-accent-color);
    word-wrap: break-word;
}
.our-app__content-img {
    width: 50px;
    height: 50px;
}
.our-app__content-item {
    position: relative;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    margin: 0 -7.5px;
}
.device-mockup {
    position: relative;
    margin-top: 50px;
    padding: 0 15px;
}
.device-mockup__img {
    background-image: url(../img/phone-bg-pic.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 31px 27px;
    display: flex;
    justify-content: center;
}
.device-mokup__phone-edge {
    position: relative;
    z-index: 2;
    width: 46.19%;
}
.device-mokup__phone-screen {
    position: absolute;
    width: 62.9%;
    height: 59.9%;
    bottom: 26.6%;
    left: 18.5%;
    display: flex;
    justify-content: center;
}
.phone-screen__img {
    position: absolute;
    width: 46%;
}
.our-app__text-body {
    margin-top: 30px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .05em;
    color: var(--text-dark-accent-color);
    word-wrap: break-word;
}
.our-app__store-icons {
    margin-top: 35px;
}
.our-app__app-store {
    border-radius: 5px;
}
.our-app__gogle-play {
    border-radius: 5px;
    margin-top: 20px;
}

/*footer banners section*/
.footer-banners__section{
    padding-top: 60px;
    padding-bottom: 90px;
}
.footer-banners {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
    font-family: 'Istok Web', sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    text-transform: none;
}
.footer-banners__need-help {
    background-image: url(../img/photo-main/need-help-banner.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 31px;
    transition: opacity .3s ease-out;
}
.need-help-item-content {
    display: flex;
    flex-direction: column;
}
.need-help-text {
    margin-top: 96.6px;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0;
    color: var(--text-header-light-color);
}
.need-help-header {
    margin-top: 20px;
    font-size: 24px;
    line-height: 1.3;
    letter-spacing: 0;
    display: flex;
    flex-direction: column;
    color: var(--text-header-dark-color);
}
.need-help-header__text {
    font-size: 18px;
    line-height: 31.2px;
}
.need-help-header__link {
    color: var(--text-brand-color);
}
.footer-banners__working-hours {
    margin-top: 50px;
}
.working-hours-item-content {
    background-image: url(../img/photo-main/working-hours-banner.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 31px;
    transition: opacity .3s ease-out;
}
.working-hours-text {
    margin-top: 96.6px;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0;
    color: var(--text-header-light-color);
}
.working-hours-header{
    margin-top: 20px;
    font-size: 24px;
    line-height: 1.3;
    letter-spacing: 0;
    display: flex;
    flex-direction: column;
    color: var(--text-header-dark-color);
}
.working-hours-header__days {
    font-size: 18px;
    line-height: 31.2px;
}
.working-hours-header__time {
    color: var( --text-header-light-color);
}
/*footer*/
.footer__wrapp {
    background-image: url(../img/photo-main/wave-3.png);
    padding: 40px 0;
    position: static;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.footer__section {
    background-color: var(--text-header-dark-color);
    display: flex;
}
.footer__section-inner {
    padding-top: 95px;
    padding-bottom: 30px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    text-align: center;
    flex-direction: column;
}
.footer__menu {
    margin: 0 -15px;
}
.logo-freshy-footer {
    width: 215px;
    margin: 0 28.5px;
}
.footer__text-block {
    padding: 0 15px;
}
.footer__text-block-content {
    margin-top: 30px;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: .05em;
    font-weight: 600;
    word-wrap: break-word;
    color: var(--shade-text-color);
}
.footer-social-icon-img {
    fill: currentColor;
    width: 30px;
    height: 30px;
}
.footer-social-icons {
    display: flex;
    justify-content: center;
    margin: 0 -7.5px -15px;
}
.footer-social-icon {
    margin: 0 7.5px 15px;
    
}
.footer__text-block-social-icons {
    margin-top: 30px;
}
.footer-social-icon-link {
    color: var(--text-header-light-color);
}
.footer__nav-block {
    margin-top: 50px;
    padding: 0 15px;
    margin-bottom: -10px;
}
.footer__content-text {
    font-size: 22px;
    line-height: 1.4;
    letter-spacing: 0;
    font-family: 'Istok Web', sans-serif;
    font-weight: 700;
    color: var( --text-brand-color);
}
.footer__nav-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
}
.footer__item-menu {
    margin: 10px 5px;
    font-size: 16px;
    color: var(--button-light-color);
    font-weight: 600;
}
.footer__contacts-block, .footer__subscribe-block {
    margin-top: 50px;
    padding: 0 15px;
}
.footer__contacts-menu {
    margin-top: 20px;
}
.footer__contact-item {
    margin-bottom: 16px;
}
.footer__contact-text {
    font-size: 18px;
    line-height: 1.56;
    font-weight: bold;
    color: var(--button-light-color);
}
.footer__contact-text-body {
    margin-top: 5px;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: .05em;
    font-weight: 600;
    color: var(--shade-text-color);
}
.footer__subscribe-text {
    font-size: 22px;
    line-height: 1.4;
    color: var(--button-light-color);
    font-family: 'Istok Web', sans-serif;
    font-weight: 700;
    word-wrap: break-word;
    display: block;
}
.subscribe-special-offers {
    color: var(--text-brand-color);
}
.footer__subscribe-form {
    margin-top: 20px;
}
.form-field-email {
    background-color: var(--form-email-background-color);
    margin-top: 12px;
    padding: 20px 30px;
    border: none;
    border-radius: 5px;
    width: 100%;
    border-color: var(--background-light-color);
    outline-color: #3b99fc;
    font-size: 12px;
    color: var(--button-light-color);
    line-height: 1.2;
    text-align: center;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    red;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    red;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    red;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    red;
}