@media(min-width: 375px) {
    .fresh-produce-img {
        width: 327px;
        height: 346px;
    }
    .our-app__store-icons {
        display: flex;
    }
    .our-app__app-store {
        margin-right: 10px;
    }
    .our-app__gogle-play {
        margin-top: 0;
        margin-left: 10px;
    }
    .shop-now__icon {
        bottom: 6px;
        left: 8px;
    }
    .try-app__icon {
        left: 8px;
    }
    .fresh-produce_apple-icon {
        top: -5.594px;
    }
    .offer__shop-now-icon {
        right: 224px;
    }
    .time-offer__discount {
        display: inline;
    }
    .time-offer__promo {
        display: block;
    }
}
@media(min-width: 480px) {
    .product-icons__content {
        flex-wrap: wrap;
        flex-direction: unset;
    }
    .product-icon {
        flex-basis: 50%;
        max-width: 50%;
        padding-left: 15px;
        padding-right: 15px;
    }
}